p {
	color:yellow;
	BACKGROUND-COLOR:GRAY;
	FONT-FAMILY:ΛΞΜε£»
}

a{color:gray;
	BACKGROUND-COLOR:blue;
	FONT-FAMILY:Ώ¬Με£»
}

h1{color:gray;
	BACKGROUND-COLOR:blue;
	FONT-FAMILY:Ώ¬Με£»
}